<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenlincheng.pika.item.mapper.ItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wenlincheng.pika.item.entity.po.Item">
        <id column="id" property="id" />
        <result column="seller_id" property="sellerId" />
        <result column="name" property="name" />
        <result column="simple_name" property="simpleName" />
        <result column="source" property="source" />
        <result column="product_code" property="productCode" />
        <result column="shop_code" property="shopCode" />
        <result column="category_code" property="categoryCode" />
        <result column="brand_code" property="brandCode" />
        <result column="spec" property="spec" />
        <result column="sale_attr_vals" property="saleAttrVals" />
        <result column="normal_attr_vals" property="normalAttrVals" />
        <result column="main_pic_url" property="mainPicUrl" />
        <result column="pics_url" property="picsUrl" />
        <result column="item_status" property="itemStatus" />
        <result column="sale_status" property="saleStatus" />
        <result column="audit_status" property="auditStatus" />
        <result column="tax_rate" property="taxRate" />
        <result column="currency_code" property="currencyCode" />
        <result column="min_line_price" property="minLinePrice" />
        <result column="max_line_price" property="maxLinePrice" />
        <result column="min_unit_price" property="minUnitPrice" />
        <result column="max_unit_price" property="maxUnitPrice" />
        <result column="unit_convert" property="unitConvert" />
        <result column="inventory_reduce_setting" property="inventoryReduceSetting" />
        <result column="pickup_type" property="pickupType" />
        <result column="description" property="description" />
        <result column="detail_html" property="detailHtml" />
        <result column="after_sale_services" property="afterSaleServices" />
        <result column="tags" property="tags" />
        <result column="is_publish_by_time" property="isPublishByTime" />
        <result column="publish_time" property="publishTime" />
        <result column="channel_code" property="channelCode" />
        <result column="first_up_sale_date" property="firstUpSaleDate" />
        <result column="last_up_sale_date" property="lastUpSaleDate" />
        <result column="code" property="code" />
        <result column="series_id" property="seriesId" />
        <result column="product_id" property="productId" />
        <result column="invoice_tax_code_id" property="invoiceTaxCodeId" />
        <result column="base_unit_id" property="baseUnitId" />
        <result column="inv_unit_id" property="invUnitId" />
        <result column="shipping_fee_template_id" property="shippingFeeTemplateId" />
        <result column="seo_id" property="seoId" />
        <result column="channel_id" property="channelId" />
        <result column="fixed_price" property="fixedPrice" />
        <result column="is_cycle_buy" property="isCycleBuy" />
        <result column="is_single_order_limit_buy" property="isSingleOrderLimitBuy" />
        <result column="single_order_limit_buy_number" property="singleOrderLimitBuyNumber" />
        <result column="recommend_item_ids" property="recommendItemIds" />
        <result column="is_gifted" property="isGifted" />
        <result column="is_fixed" property="isFixed" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_user_id" property="updateUserId" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, seller_id, name, simple_name, source, product_code, shop_code, category_code, brand_code, spec, sale_attr_vals, normal_attr_vals, main_pic_url, pics_url, item_status, sale_status, audit_status, tax_rate, currency_code, min_line_price, max_line_price, min_unit_price, max_unit_price, unit_convert, inventory_reduce_setting, pickup_type, description, detail_html, after_sale_services, tags, is_publish_by_time, publish_time, channel_code, first_up_sale_date, last_up_sale_date, code, series_id, product_id, invoice_tax_code_id, base_unit_id, inv_unit_id, shipping_fee_template_id, seo_id, channel_id, fixed_price, is_cycle_buy, is_single_order_limit_buy, single_order_limit_buy_number, recommend_item_ids, is_gifted, is_fixed, create_time, update_time, create_user_id, update_user_id, is_deleted
    </sql>

</mapper>
